# 选择调试器为 cmsis-dap

source [find interface/cmsis-dap.cfg]
# OpenOCD作为GDB和硬件调试器的桥梁(为硬件提供抽象,把接口给GDB),支持多种硬件调试器.
# OpenOCD会自动在其根目录的share/openocd/scripts/interface里面寻找对应的配置文件

# 选择接口为SWD
transport select swd

# 选择目标芯片 (适配 STM32H723)
source [find target/stm32h7x.cfg]

adapter speed 10000

# reset_config srst_nogate
